aguasvivas2018_spalex/original_data/spalex lexical decision.csv filter=lfs diff=lfs merge=lfs -text
aguasvivas2018_spalex/processed_data/exp1.csv filter=lfs diff=lfs merge=lfs -text
aguasvivas2018_spalex/prompts.jsonl.zip filter=lfs diff=lfs merge=lfs -text