guasch2023_prevalence/original_data/responses.csv filter=lfs diff=lfs merge=lfs -text
guasch2023_prevalence/processed_data/exp1.csv filter=lfs diff=lfs merge=lfs -text
guasch2023_prevalence/prompts.jsonl.zip filter=lfs diff=lfs merge=lfs -text
wang2025_lexicaldecision/original_data/fullresult.csv !text !filter !merge !diff
wang2025_lexicaldecision/processed_data/exp.csv !text !filter !merge !diff
wang2025_lexicaldecision/CODEBOOK.csv !text !filter !merge !diff
wang2025_lexicaldecision/prompts.jsonl.zip !text !filter !merge !diff
